h1 {
  text-align: center;
}
p {
  text-align: center;
  line-height: 25px;
}
span.fit {
  color: #4488f4;
}

.img{
  position: relative;
  left: 600px;
}
.nav-item {
  margin: 0 auto;
}
.women {
  border-radius: 60%;
  position: relative;
  left:30px;
  border: 2px grey;
}
@media (max-width: 500px) {
  .women {
    opacity: 0%;
    // etc. > ignore all at once for touch devices
  }
  .img {
    position: relative;
    left:110px;
  }

  }
